
.hero_btns_group{
    display: flex;
    gap: 1rem;
}

.hero_btn_1{
    cursor: pointer;
    color: white;
    font-size: 1.4rem;
    font-family: var(--ff-primary-head);
    font-weight: 400;
    border: none;
    padding: 1rem 2rem;
    background: linear-gradient(26.57deg, #6852ED 16.67%, #BA43FC 100%);
    border-radius: 40px;
}
.hero_btn_2{
    cursor: pointer;
    color: var(--clr-primary);
    font-size: 1.3rem;
    font-family: var(--ff-primary-head);
    font-weight: 400;
    padding: 1rem 2rem;
    border: none;
    background: none;
    display: flex;
    align-items: center;
}

.btn_arrow{
    width:13px;
    height: 10px;
    margin: 0 0.8rem;
}

