.header {
  width: 80%;
  margin: 0 auto;
  padding: 1.8rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}

.header_bio {
  color: var(--clr-dark-secondary);
  font-size: 1.6rem;
  font-family: var(--ff-primary-bio);
  font-weight: 400;
}

.header div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
.phone {
  width: 17px;
  height: 17px;
}
.phone_numer {
  color: var(--clr-dark-primary);
  min-width: max-content;
  font-family: var(--ff-primary-bio);
  font-weight: 400;
  font-size: 1.4rem;
}
