nav{
    position: fixed; 
     width: 100%;
     z-index: 1;
     top: 50px;
    padding: 1.8rem 0;
    margin: 0 auto;
    border-top: 1px solid #E1E4EDCC;
    
}

.nav_container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav_group{
    display: flex;
    align-items: center;
    gap: 2rem ;
}
.nav_list{
    display: flex;
    list-style: none;
}
.nav_list li{
    text-transform: capitalize;
    color: var(--clr-dark-secondary);
    font-family: var(--ff-primary-bio);
    font-weight: 400;
    font-size: 1.8rem;
    padding: 0px 1.3rem;
}
.nav_list li:hover{
    cursor: pointer;
    color: var(--clr-primary);
    font-family: var(--ff-primary-bio);
    font-weight: 700;
}


.btns_group{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.nav_btn{
    color: var(--clr-secondary);
    width: max-content;
    text-transform: capitalize;
    font-family: var(--ff-primary-head);
    font-size: 1.4rem;
    padding: 1rem 1.8rem;
    background-color: transparent;
    border: 1px solid var(--clr-secondary);
    border-radius: 30px;
}

.btns_group p{
    color: var(--clr-dark-primary);
    font-family: var(--ff-primary-bio);
    font-weight: 400;
    font-size: 1.6rem;
}