.progress_bar_content{
    padding-left: 2rem;
}

.progress_bar_data{
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.progress_bar{
    width: 500px;
    height: 8px;
    background: rgba(225, 228, 237, 0.6);
    border-radius: 6px;
}
.progress{
    width: 0;
    height: 6px;
    opacity: 0;
    background-color: var(--clr-secondary);
    border-radius: 6px;
}

.progress_name{
    font-family: var(--ff-primary-bio);
    font-size: 1.5rem;
    font-weight: 400;
}
.progress_number{
    font-family: var(--ff-primary-bio);
    font-size: 1.4rem;
    font-weight: 400;
}
